body {
  background-image: url("https://media.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-downsized-large.gif");
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
 
.column {
  float: right;
  margin-bottom: 16px;
  padding: 0 8px;
}

.container {
  padding: 0 16px;
  background-color: whitesmoke;
}

.skew {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
}

